.checkbox, .slider {
	height: 1.1em;
	background-color: #D9D9DB;
	margin: 0.2em;
	padding: 0.15em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.checkbox > div, .slider > div {
	flex: 0 1 auto;
	height: 1.1em;
	width: 1.1em;
}

.checked {
	background-color: #4286F4;
}

.checkbox {
	width: 1.1em;
	border-radius: 0.2em;
	justify-content: center;
	transition: all 0.2s;
}

.checkbox > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox:active {
	transform: scale(0.97);
}

.checkbox.checked > div:after {
	content: "\2713";
	font-weight: bold;
	font-size: 1.4em;
	color: white;
	width: 1em;
	height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.slider {
	width: 2.5em;
	border-radius: 1.1em;
	justify-content: flex-start;
}

.slider.checked {
	justify-content: flex-end;
}

.slider > div {
	border-radius: 1.1em;
	background-color: #FFFFFF;
}
