button[class^="button-"] {
	border: 0.2em solid transparent;
	border-radius: 0.2em;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	display: inline-block;
	padding: 0.2em 0.4em;
	margin: 0.1em;
	/* outline: none; */
	cursor: pointer;
	transition: all 0.2s;
	max-width: 10em;
	min-width: 3em;
	max-height: 5em;
	min-height: 1em;
	-webkit-user-select: none;
	user-select: none;
}

button[class^="button-"].primary {
	font-size: 16px;
	padding: 0.8em 1.6em;
	min-height: 3em;
}

button[class^="button-"].wiggle:hover {
	animation: wiggle 0.3s linear;
}

button[class^="button-"]:active {
	transform: scale(0.97);
}

@keyframes wiggle {
	0% {
		transform: none;
	}
	10% {
		transform: rotateZ(2deg);
	}
	30% {
		transform: rotateZ(-2deg);
	}
	50% {
		transform: rotateZ(2deg);
	}
	70% {
		transform: rotateZ(-2deg);
	}
	100% {
		transform: none;
	}
}

.button-default {
	background-color: #D9D9DB;
}

.button-error {
	background-color: #F44E42;
}

.button-success {
	background-color: #38B763;
	color: white;
}

.button-warning {
	background-color: #FCD144;
}

.button-info {
	background-color: #3871E2;
	color: white;
}

/*
.button-default:active {
	color: #D9D9DB;
	border-color: #D9D9DB;
}

.button-error:active {
	color: #F44E42;
	border-color: #F44E42;
}

.button-success:active {
	color: #38B763;
	border-color: #38B763;
}
*/
